---

import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import { Image } from 'astro:assets';
import ArtisanWorkCard from "../components/artisanWorkCard.astro";
import person1 from "../assets/headshots/person1.png"
import person2 from "../assets/headshots/person2.png"
import person3 from "../assets/headshots/person3.png"
import person4 from "../assets/headshots/person4.png"
import person5 from "../assets/headshots/person5.png"
import erina from "../assets/headshots/erina.png"
import pennyLang from "../assets/headshots/pennyLang.png"

import work1 from "../assets/products/work1.webp";
import work2 from "../assets/products/work2.webp";
import work3 from "../assets/products/work3.webp";
import work4 from "../assets/products/work4.webp";
import erinaWork from "../assets/products/erinaWork.png"
import pennyLangWork from "../assets/products/pennyLangWork.png"


---
<Layout>
    <Main>
        <h2 class = "text-4xl text-center p-4">Featured Artisans of the Month</h2>
        <div class="card-container grid gap-4 sm:grid-cols-2 lg:grid-cols-3 xxl:grid-cols-4" >
            
            <ArtisanWorkCard
            name="Erina"
            profession="Photographer and Arcylic Fluid Painter"
            headshot={erina}
            work={erinaWork}
            description="Hi, I'm Erina aka The Quirky Photographer.  I'm a mom to two crazy fabulous girls and an MS Warrior.  My passion is photography of all things, and recently I've added a new love of acrylic fluid painting.  "
            />

            <ArtisanWorkCard
            name="Penny Lang"
            profession="Artisanal Notecards"
            headshot={pennyLang}
            work={pennyLangWork}
            description="My artwork represents color, whimsy, pattern, and joy. I primarily use paper to create notecards. My larger pieces feature collages and hand lettering. I enjoy teaching art classes and recently taught for Osher at the University of Pittsburgh."
            />

        </div>
        <div class="otherArtisans flex flex-col w-full mt-4 p-2 items-center">
            <h2 class="text2xl font-bold text-center">Thank you to the rest of our aritsans!</h2>
            <p class="text-center"></p>
        </div>
    </Main>
</Layout>