---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Storefront from '../assets/storefront.png';
import Main from "../components/Main.astro"
import H1 from '../components/H1.astro';
import MainAltNoYScroll from '../components/MainAltNoYScroll.astro';
---
  
<body class="overflow-hidden">

<Layout>
	<Main>
		<div class="flex flex-col items-center justify-center p-5 pt-0 gap-2 md:flex-row md:gap-12">
			<div class="flex items-center justify-center md:hidden">
				{/* Mobile image */}
				<Image
					src={Storefront}
					alt="storefront"
					class="w-[70%]"
				/>
			</div>
			{/* Desktop image */}
			<Image
				src={Storefront}
				alt="storefront"
				class="hidden md:block md:w-[35%] shadow-lg "
			/>
			<div class="flex flex-col w-full h-full max-w-md gap-2">
				<h1 class="text-center md:text-left text-3xl">
					Urban Jungle <br /> of Regent Square
				</h1>
				<p class="text-gray-600 text-center md:text-left">
					Urban Jungle of Regent Square is a plant lovers's paradise designed to showcase the talents of local artisans while fostering community connections.
				</p>
			</div>
		</div>
	</Main>
</Layout>
</body>