---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Storefront from '../assets/storefront.png';
import Main from "../components/Main.astro"
import H1 from '../components/H1.astro';
import MainAltNoYScroll from '../components/MainAltNoYScroll.astro';
---
<body class="overflow-hidden">

<Layout>
	<MainAltNoYScroll>
		<div class="flex flex-col items-center justify-center p-5 gap-4 md:flex-row md:gap-12">
			<div class="h-60 w-full md:hidden">
				{/* Mobile image */}
				<Image
					src={Storefront}
					alt="storefront"
					class="w-full h-full object-cover shadow-lg"
				/>
			</div>
			{/* Desktop image */}
			<Image
				src={Storefront}
				alt="storefront"
				width={450}
				class="hidden md:block shadow-lg"
			/>
			<div class="flex flex-col justify-center w-full max-w-md">
				<H1 class="text-center md:text-left text-3xl font-bold mb-4">
					The Urban Jungle <br /> of Regent Square
				</H1>
				<p class="text-gray-600 text-center md:text-left">
					The Urban Jungle of Regent Square is a vibrant space designed to showcase the talents of local artisans while fostering community connections through engaging events and gatherings.
				</p>
			</div>
		</div>
	</MainAltNoYScroll>
</Layout>
</body>