---
import Layout from "../layouts/Layout.astro";
import ArtistPage from "../components/artisanPage.astro";

import artistPhoto from "../assets/headshots/person1.png";
import work1 from "../assets/products/work1.webp";
import work2 from "../assets/products/work2.webp";
import work3 from "../assets/products/work3.webp";
import work4 from "../assets/products/work4.webp";
import Main from "../components/Main.astro";
import MainAlt from "../components/MainAlt.astro";

const artist = {
  name: "Jane Doe",
  description: "Jane Doe is a contemporary artist specializing in abstract painting and mixed media works. Her art explores themes of identity, connection, and transformation.",
  photo: artistPhoto,
  gallery: [work1, work2, work3, work4],
};
---
<Layout>
  <div class=" sm:overflow-hidden">
    <ArtistPage
      name={artist.name}
      description={artist.description}
      photo={artist.photo}
      gallery={artist.gallery}
    />
  </div>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>