---

---
<header style="padding: 1rem">
    <ul style="list-style: none; 
                display: flex; 
                gap: 1.5rem; 
                margin: 0; 
                padding: 0; 
                postition: relative;
                ">
        <li>
            <a href = "/">Home</a>
        </li>

        <li>
            <a href = "/events">Events</a>
        </li>

        <li>
            <a href = "/artisans">Artisans</a>
        </li>
    </ul>
</header>

<style>
    li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.2rem;
  }

  li a:hover {
    color: #007bff;
  }
</style>