---
import Header from "../components/Header.astro"
import { ViewTransitions } from 'astro:transitions'

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico?" type="image/x-icon"/>
		<meta name="generator" content={Astro.generator} />
		

		<ViewTransitions/>
		<title>Urban Jungle</title>
	</head>
	<body class="min-h-screen">
		<Header/>
		<slot />
		
	</body>
</html>

<style>
	body {
		background-color:#f8f6f5;
	}
</style>

